@charset "utf-8";

main {
    
    max-width: 800px;
}

fieldset{
    border-top: 1px solid gray;
    border-bottom:  1px solid gray;
    margin: 10px;
}

legend{
    
    font-weight: bold;
    
}

input[type=text]{
    
    background: pink;
}

p::first-letter{
    color: red;
    font-weight: bold;
}