@charset "utf-8";

body{
    background: gray;
}
main,article,header{
    border: 1px solid grey;
    background: white;
    padding: 10px;
    
    
}






main {
    
    max-width: 800px;
}

fieldset{
    border-top: 1px solid gray;
    border-bottom:  1px solid gray;
    margin: 10px;
}

legend{
    
    font-weight: bold;
    
}

input[type=text]{
    
    background: pink;
}

